@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    /* my dark styling */
    background-color: rgb(19, 17, 17);
    color: rgb(236, 222, 222);
}

input {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
    outline: none;
    background-color: rgb(19, 17, 17);
    color: rgb(236, 222, 222);
    /* border: 0; */
}

.btnctr {
    text-align: center;
}

button {
    font-size: 2rem;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: sandybrown;
}

.messages {
    text-align: center;
    font-size: 1.5rem;
    height: 5rem;
    width: 23.6rem;
    margin-top: 10px;
}

.change {
    font-size: 0.5rem;
    background-color: aqua;
}

.timedatestamp {
    font-size: 1rem;
}
